.import{
    color:blue;
}

/*自定义属性的名称以“--”开头*/

/*声明变量*/

body {
 color: black;
}

.container_size {
    position:absolute;
    width: 50px;
    height: 30px;
}

/*嵌套 Autoprefixer*/

.container_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    position:relative;
    width: 140px;
    height: 140px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
}

.container_1 .container_2_1 {
        /* background-color: rgb(255, 0, 0); */
        background-color: #000;
        opacity: 0.5;
            color:red;
            width:200px

         /* &符,把父选择器复制到子选择器中 */
    }

.container_1 .container_2_1::hover{
    background:#050;
}

.container_1 .container_2_2 {
        /* background-color: rgb(0, 0, 130); */
        background-color: #444;
        opacity: 1
    }

.container_1 .container_2_2::hover{
    background:#ccc;
}

/*for 循环*/

.container_2 .p_list_for{
        position:fixed;
        top:300px;
        left:500px;
        width:300px;
        background:gray;
    }

.container_2 .p_list_for p:nth-of-type(1) { 
                width:calc( 20% / 1 ); 
                margin-left: calc( 100% / 1 ); 
                border:solid 1px black;
            }

.container_2 .p_list_for p:nth-of-type(2) { 
                width:calc( 20% / 2 ); 
                margin-left: calc( 100% / 2 ); 
                border:solid 1px black;
            }

.container_2 .p_list_for p:nth-of-type(3) { 
                width:calc( 20% / 3 ); 
                margin-left: calc( 100% / 3 ); 
                border:solid 1px black;
            }

/*each循环*/

.container_2 .p_list_each{
        display:inline;
    }

.container_2 .p_list_each .divspan-red { 
                width:100px;
                height:100px;
                background: red; 
            }

.container_2 .p_list_each .divspan-blue { 
                width:100px;
                height:100px;
                background: blue; 
            }

.container_2 .p_list_each .divspan-green { 
                width:100px;
                height:100px;
                background: green; 
            }

.container_2 .mixins{
        // display:inline;
        margin:10px;
        padding:5px;
        border:solid 1px yellow;
    }

.container_2 .mixins .first {
                width:100px;
                height:100px;
                background: red; 
        }

.container_2 .mixins .second {
                width:100px;
                height:100px;
                background: green; 
        }

.container_2 .define_extend{
        border:solid 1px black;
        background:green;
    }

.container_2 .define_extend .blue_button { border-color: #2F74D1; background-color: #3B8EFF; }

.container_2 .define_extend .red_button { border-color: #C41A1E; background-color: #FF2025; }.postcss-assets-png {
    background-image: url('/src/static/images/afternoon.png');
    height: 30px;
    width: 30px; // 缩小的比例
    background-size: 30px 30px;
    // color:blue;
}

.postcss-hash-classname {
    background:red;
    width:50px;
    height:50px;
    color:blue;
}

// 它可以修改 svg
.postcss-inline-svg{
    background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' standalone='no'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg t='1513306243787' class='icon' style='' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1068' xmlns:xlink='http://www.w3.org/1999/xlink' width='200' height='200' fill='%230f0' stroke='%23abc'%3E%3Cdefs%3E%3Cstyle type='text/css'/%3E%3C/defs%3E%3Cpath d='M938.576 550.639c-8.943 8.92-23.37 8.92-32.313 0L512.41 122.448 117.6 549.956c-8.897 8.898-23.324 8.898-32.176 0-8.897-8.897-8.897-23.301 0-32.222l398.7-431.672c7.737-7.76 19.07-20.73 27.876-14.95 8.897-5.78 21.117 7.19 28.9 14.972l397.698 432.31c8.875 8.92 8.875 23.348-0.022 32.245z m-556.897-99.67c8.897-8.897 23.279-8.897 32.176 0l97.69 97.667 98.304-98.35c8.988-8.965 23.506-8.965 32.495 0 8.988 8.99 8.988 23.507 0 32.496l-97.462 97.485h81.237c12.584 0 22.756 10.171 22.756 22.755s-10.172 22.756-22.756 22.756h-91.022v68.266h91.022c12.584 0 22.756 10.172 22.756 22.756s-10.172 22.756-22.756 22.756h-91.022v91.022c0 12.584-10.172 22.755-22.756 22.755s-22.755-10.171-22.755-22.755v-91.022h-91.022c-12.584 0-22.756-10.172-22.756-22.756s10.172-22.756 22.756-22.756h91.022v-68.266h-91.022c-12.584 0-22.756-10.172-22.756-22.756s10.172-22.755 22.756-22.755h80.213l-97.12-97.121c-8.853-8.897-8.853-23.302 0.022-32.176zM171.03 898.845h26.942c-2.526-7.145-4.187-14.722-4.187-22.755V534.756c0-12.584 10.172-22.756 22.756-22.756s22.755 10.172 22.755 22.756V876.089c0 19.729 12.63 22.482 30.22 22.755H755.21c17.545-0.273 30.22-3.026 30.22-22.755V534.756c0-12.584 10.171-22.756 22.755-22.756s22.756 10.172 22.756 22.756V876.089c0 8.033-1.639 15.61-4.187 22.755h26.942c12.584 0 22.756 10.172 22.756 22.756s-10.172 22.756-22.756 22.756H171.031c-12.584 0-22.756-10.172-22.756-22.756s10.172-22.756 22.756-22.756z' fill='' p-id='1069'/%3E%3Cpath d='M494.228 83.922a0.781 0.734 0 1 1 0 22.756z' fill='' p-id='1070'/%3E%3C/svg%3E");
    width:50px;
    height:50px;
    color:blue;
}

.postcss-inline-svg-2{
    background-image: url('/src/static/images/afternoon.png');
    width:50px;
    height:50px;
    color:blue;
}
.container_2_2 {
  background-color: #020;
}
